.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#map {
    height: 100%;
}

.content-wrapper {
    margin-left: 250px;
    height: 100%;
    width: 100%;
}

#left-panel {
    width: 250px;
    height: 100%;
    padding-top: 40px;
    background: #031424;
    color: #fff;
    -webkit-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header {
    background: #5f0f4e;
    color: #fff;
}

header .row {
    margin-right: 0px;
    margin-left: 0px;
}

#show-menu-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.opened #left-panel {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
