.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#main-app-container {
    display: block;
    height: 100%;
}

.content-wrapper {
    height: 100%;
    width: 100%;
    margin-left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#left-panel {
    width: 250px;
    height: 100%;
    padding-top: 40px;
    background: #031424;
    color: #fff;
    -webkit-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#concerts {
    list-style: none;
    margin: 20px 0px 0px;
    padding-left: 0px;
    height: calc(100% - 60px);
    overflow: auto;
}

#concerts li {
    position: relative;
    cursor: pointer;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    padding: 10px 15px 10px 30px;
    transition: all 0.5s ease;
}

#concerts li:hover {
    background: #1860A3;
}

#left-panel .row {
    margin-right: 0px;
    margin-left: 0px;
}

header {
    background: #5f0f4e;
    color: #fff;
    height: 40px;
}

header .row {
    margin-right: 0px;
    margin-left: 0px;
}

#show-menu-button {
    cursor: pointer;
    line-height: 40px;
}

.opened #left-panel {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.opened .content-wrapper {
    width: calc(100% - 250px);
    height: calc(100% - 40px);
    margin-left: 250px;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    / -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#info-window {
    width: 400px;
    height: 400px;
}

#pano {
    width: 400px;
    height: 200px;
}


#placeInfoHeader {
    margin-top: 20px;
}